<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>

	<connectionStrings>

		<add name="N2S3" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=No hay 2 sin 3;Data Source=localhost" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ImprimirVeces" value="2"/>		
	</appSettings>
</configuration>
